@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.cards {
  margin: 50px;
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
  box-sizing: 0 0 10 0 #eee;
  border: 5px solid dodgerblue;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
}
